@model RMS.Models.StoreDClose
@{
    ViewData["Title"] = "Point Of Sale > Maintenance > Day Close > Create Day Close";
}
<h6 style="color: #1275AE; margin-top: 10px;">@ViewData["Title"]</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SDCDate" class="control-label"></label>
                <input asp-for="SDCDate" class="form-control"/>
                <span asp-validation-for="SDCDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CUser" class="control-label"></label>
                <input asp-for="CUser" class="form-control" />
                <span asp-validation-for="CUser" class="text-danger"></span>
            </div>
            <div class="form-group btn-group">
                <input type="submit" value="Create" class="btn btn-primary"  />
                <a class="btn btn-secondary" asp-action="index"
                   asp-route-pg="@TempData.Peek("CurrentPage")">Back</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
