@model RMS.Models.HREmpDetails
@{
    ViewData["Title"] = "Human Resource (HR) > Maintenance > Employee Details > Delete Employee";
}
<h6 style="color: #1275AE; margin: 10px;">@ViewData["Title"]</h6>
<h5 class="text-danger" style="margin-left: 10px;">Are you sure you want to delete this?</h5>
<form asp-action="Delete">
    <div class="row border p-2">
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HRDId" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HRDepart.HRDName" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HRDeId" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HRDesig.HRDeName" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDEId" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDEId" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDEName" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDEName" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDFName" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDFName" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDPreAdd" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDPreAdd" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDParAdd" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDParAdd" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDCont" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDCont" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDBGroup" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDBGroup" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Gender" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Gender" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDNat" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDNat" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDReligion" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDReligion" class="form-control" readonly />
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDMStatus" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDMStatus" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDRef" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDRef" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDRAdd" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDRAdd" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDJDate" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDJDate" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HRWSId" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HRWStatus.HRWSName" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDEmail" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HREDEmail" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IsWaiter" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IsWaiter" type="checkbox" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IsActive" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IsActive" type="checkbox" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HREDPPhoto" class="control-label"></label>
                </div>
                <div class="col-8">
                    <img src="~/images/@Model.HREDPUrl" style="border: 1px; margin: 10px; width: 200px; height: 200px;" />
                </div>
            </div>

        </div>


        <div class="form-group ">
            <input type="hidden" asp-for="HREDId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-action="index"
               asp-route-pg="@TempData.Peek("CurrentPage")">Back</a>
        </div>
    </div>

</form>
