@model RMS.Models.StoreGIssue
@{
    ViewData["Title"] = "Store & Inventory > Item Movement > Item Issue > Create Item Issue";
}
<h6 style="color: #1275AE; margin-top: 10px;">@ViewData["Title"]</h6>
<hr />

<div class="row">
    <!-- Form Area-->
    <form asp-action="Create" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="btn-group">
            <div class="col-md-10 m-auto">
                <div class="row">
                    <!-- controls section -->
                    <div class="form-group col-6">
                        <label asp-for="GIDate" class="control-label"></label>
                        <input asp-for="GIDate" class="form-control" readonly/>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="SIGId" class="control-label"></label>
                        <select asp-for="SIGId" class="form-control" asp-items="ViewBag.StoreIGen"></select>
                        <span asp-validation-for="SIGId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="SIGId" class="control-label"></label>
                        <select asp-for="SIGId" class="form-control" asp-items="ViewBag.IGenCode"></select>
                        <span asp-validation-for="SIGId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="SCId" class="control-label"></label>
                        <select asp-for="SCId" class="form-control" asp-items="ViewBag.StoreCategory"></select>
                        <span asp-validation-for="SCId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="SSCId" class="control-label"></label>
                        <select asp-for="SSCId" class="form-control" asp-items="ViewBag.StoreSCategory"></select>
                        <span asp-validation-for="SSCId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="SUId" class="control-label"></label>
                        <select asp-for="SUId" class="form-control" asp-items="ViewBag.StoreUnit"></select>
                        <span asp-validation-for="SUId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="GIQty" class="control-label"></label>
                        <input asp-for="GIQty" class="form-control" value=""/>
                        <span asp-validation-for="GIQty" class="text-danger"></span>
                    </div>

                    <div class="form-group col-6">
                        <label asp-for="GIUPrice" class="control-label"></label>
                        <input asp-for="GIUPrice" class="form-control" value=""/>
                        <span asp-validation-for="GIUPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="GITPrice" class="control-label"></label>
                        <input asp-for="GITPrice" class="form-control" value="" readonly />
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="HRDId" class="control-label"></label>
                        <select asp-for="HRDId" class="form-control" asp-items="ViewBag.HRDepartment"></select>
                        <span asp-validation-for="HRDId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="GIRemarks" class="control-label"></label>
                        <textarea asp-for="GIRemarks" class="form-control"></textarea>
                        <span asp-validation-for="GIRemarks" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group btn-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-secondary" asp-action="index"
                       asp-route-pg="@TempData.Peek("CurrentPage")">Back</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
